<h2><% provide(:title, "Tất cả bộ môn") %></h2>
<div class="clearfix"></div>
<div class="x_content">
  <%= link_to "Tạo bộ môn", new_admin_subject_path, class: "btn btn-primary" %>
  <div class="table-responsive">
      <table class="table table-striped jambo_table bulk_action">
          <thead>
              <tr class="headings">
                  <th>
                      <input type="checkbox" id="check-all" class="flat">
                  </th>
                  <th>Tên bộ môn</th>
                  <th>Mô tả</th>
                  <th>Khoa</th>
                  <th class="column-title no-link last"><span class="nobr">Hành động</span>
                  </th>
                  <th class="bulk-actions" colspan="7">
                      <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                  </th>
              </tr>
          </thead>

          <tbody>
              <% @subjects.each do |subject| %>
                  <tr class="even pointer">
                      <td class="a-center ">
                          <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" "><%= subject.name %></td>
                      <td class=" "><%= subject.description %></td>
                      <td class=""><%= subject.department.name %></td>
                      <td class=" last">
                          <%= link_to "Sửa", edit_admin_subject_path(id: subject.id) %>
                          |
                         <%= link_to "Xóa", [:admin, subject], method: :delete,
                        data: {confirm: t("comfirm")} %>
                      </td>
                  </tr>
              <% end %>
          </tbody>
      </table>
  </div>
</div>
