<% if @topics.blank? %>
  <p>Chưa có sinh viên nào</p>
<% else %>
  <div class="x_content" style="margin-top: 40px">
    <div class="table-responsive">
      <table class="table table-striped jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">STT </th>
            <th class="column-title">Mã sinh viên </th>
            <th class="column-title">Họ </th>
            <th class="column-title">Tên </th>
            <th class="column-title">Tên đề tài </th>
            <th class="column-title no-link last"><span class="nobr">Nhận hồ sơ</span>
            </th>
            <th class="bulk-actions" colspan="7">
              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @topics.each_with_index do |item,index| %>
            <tr class="even pointer">
              <input type="hidden" class="flat" name="topic_id_array[]" value="<%= item.id %>">
              <td class=" "><%= index + 1 %></td>
              <td class=" "><a href=""> <%= item.student.user.code %></a></td>
              <td class=" "><a href=""> <%= item.student.user.first_name %></a></td>
              <td class=" "><a href=""> <%= item.student.user.last_name %></a></td>
              <td class=" "><a href=""> <%= item.name %></a></td>
              <td class=" ">
                <a href="javascript:void(0)" id="accept-<%= item.id %>" class="btn btn-primary" target="_self">Tiếp nhận</a>
              </td>
            </tr>
            <script>
              $(document).ready(function(){
                $('#accept-' + <%= item.id %>).click(function(){
                  $.ajax({
                    url: "/admin/books",
                    type: "get",
                    dataType: "text",
                    data: {
                      topic_id: $(this).parent().parent().find('input[type="hidden"]').val(),
                    },
                    success: function (response) {
                      $('#accept-' + <%= item.id %>).attr("disabled", true);
                      console.log(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                  });
                });
              });
            </script>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
