
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="clearfix"></div>


      <!-- menu profile quick info -->
      <div class="profile">
        <div class="profile_pic">
          <%= image_tag current_user.avatar.url, :class => "img-circle profile_img"  %>
        </div>
        <div class="profile_info">
          <span>Welcome,</span>
          <h2><%= current_user. first_name %> <%= current_user.last_name%></h2>
        </div>
      </div>
      <!-- /menu profile quick info -->

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <h3>General</h3>
          <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="index.html">Dashboard</a>
                </li>
                <li><a href="index2.html">Dashboard2</a>
                </li>
                <li><a href="index3.html">Dashboard3</a>
                </li>
              </ul>
            </li>
            <% if current_user.rules == Settings.admin_role %>
            <li><a><i class="fa fa-edit"></i> Quản lí đơn vị <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/admin/overview">Cấu trúc</a>
                </li>
                <li><a href="/admin/departments">Quản lý khoa</a>
                </li>
                <li><a href="/admin/subjects">Quản lý bộ môn</a>
                </li>
              </ul>
            </li>

            <li><a><i class="fa fa-edit"></i> Quản lí lĩnh vực <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/admin/spheres">Tổng quan</a>
                </li>
                <li><a href="/admin/spheres/new">Thêm lĩnh vực</a>
                </li>
              </ul>
            </li>

            <li><a><i class="fa fa-edit"></i> Quản lí tài khoản <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/admin/admins">Tài khoản admin</a>
                </li>
                <li><a href="/admin/admindepartments">Tài khoản khoa</a>
                </li>
              </ul>
            </li>
            <% else %>

            <li><a><i class="fa fa-edit"></i> Quản lí danh mục <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/admin/overview">Danh mục đơn vị</a>
                </li>
                <li><a href="/admin/spheres">Danh mục lĩnh vực</a>
                </li>
                <li><a href="/admin/teachers">Danh mục giảng viên</a>
                </li>
              </ul>
            </li>

            <li><a><i class="fa fa-edit"></i> Quản lí người học <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/admin/overviews">Quản lý danh mục, khóa học</a>
                </li>
                <li><a href="/admin/students">Quản lý tài khoản sinh viên</a>
                </li>
                </li>
              </ul>
            </li>

             <li><a><i class="fa fa-edit"></i> Quản lí đăng ký <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="javascript:void(0);">Thông tin</a>
                </li>
                <li><a href="/admin/topic_students">Quản lý sinh viên đăng ký</a>
                </li>
                <li>
                <!-- <a href="/admin/send_emails/new">Quản lý gửi email</a> -->
                <%= link_to "Quản lý gửi email", "/admin/send_emails/new", :"data-no-turbolink" => true, method: :get %>
                </li>
                <li><a href="/admin/timenotifis">Quản lý thời gian đăng ký</a>
                </li>
              </ul>
            </li>

              <li><a><i class="fa fa-edit"></i> Quản lí đề tài sinh viên <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <!-- <li><a href="">Thông tin</a> -->
                <!-- </li> -->
                <li><a href="/admin/edit_topics">Quản lý sinh viên đăng ký rút</a>
                </li>
                </li>
                <li><a href="/admin/dispatch">Xuất công văn</a>
              </ul>
            </li>

             <li><a><i class="fa fa-edit"></i> Quản lí đăng ký bảo vệ <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <!-- <li><a href="">Thông tin</a> -->
                <!-- </li> -->
                <li>
                <%= link_to "Quản lý thời gian bảo vệ", "/admin/time_protects", :"data-no-turbolink" => true, method: :get %>
                </li>
                <li>
                  <%= link_to "Quản lý hồ sơ", "/admin/files", :"data-no-turbolink" => true, method: :get %>
                </li>
                <li><%= link_to "Xuất danh sách học viên", admin_protect_path, :"data-no-turbolink" => true, method: :get %>
                </li>
              </ul>
            </li>

            <li><a><i class="fa fa-edit"></i> Quản lí bảo vệ, hồ sơ sau bảo vệ <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <!-- <li><a href="">Thông tin</a> -->
                <!-- </li> -->
                <li>
                <%= link_to "Thành lập hội đồng", "/admin/councils", :"data-no-turbolink" => true, method: :get %>
                </li>
                <li>
                  <%= link_to "Phân công phản biện", "/admin/reviews", :"data-no-turbolink" => true, method: :get %>
                </li>
                <li><a href="/admin/hoidongbaove">Xuất đề nghị hội đồng bảo vệ</a></li>
                <li><a href="/admin/reports">Thư ký hội đồng</a></li>
                <li><a href="/admin/reportfile">Xuất biên bản bảo vệ</a></li>
                <li><a href="/admin/books">Nộp quyển</a></li>
                <li><a href="/admin/indexreported">Xuất báo cáo, kết quả</a></li>
              </ul>
            </li>

            <% end %>
          </ul>
        </div>

      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>
