<style>
  .scroll {
    overflow: scroll;
  }
  .scroll::-webkit-scrollbar {
    width: 8px;
  }

  .scroll::-webkit-scrollbar-track {
    /*css for background scroll*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
    border-radius: 10px;
  }

  .scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #4CAF50;
  }
</style>
<% @infos = get_info() %>
<% @number_new_info = get_new_info_number() %>
<!-- top navigation -->
<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= image_tag(current_user.avatar.url) %><%= current_user. first_name %> <%= current_user.last_name%>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <% if current_user.rules == 1 %>
              <li><%= link_to "Thông tin cá nhân", admin_path(current_user.id) %>
              </li>
              <li>
                <%= link_to "Đổi thông tin", edit_admin_path(current_user.id) %>
              </li>
              <li>
                <%= link_to "Cài đặt", edit_user_registration_path %>
              </li>
            <% else %>
              <li><%= link_to "Thông tin cá nhân", department_user_path(current_user.departmentuser.id) %>
              </li>
              </li>
              <li>
                <%= link_to "Đổi thông tin", edit_department_user_path(current_user.id) %>
              </li>
              <li>
                <%= link_to "Cài đặt", edit_user_registration_path %>
              </li>
            <% end %>
            <li><%= link_to "Đăng xuất", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>

        <li role="presentation" class="dropdown" id="new-info">
          <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green" id="number-info"><%= (@number_new_info > 0) ? @number_new_info : '' %></span>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            <div id="info" style="max-height: 250px; overflow: auto" class="scroll">
              <% @infos.each do |info| %>
                <li>
                  <a>
                    <span class="image"><%= image_tag "img.jpg" %></span>
                    <span>
                      <span><%= get_user_send_name(info.user_send) %></span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message"><%= info.content %></span>
                  </a>
                </li>
              <% end %>
              <div id="loading-content"></div>
              <li id="loading" style="background: #fff; text-align: center; padding: 6px;">
                <img src="/loading.gif" alt="Loading…"  style="height: 100%; width:auto; overflow: hidden" />
              </li>
            </div>
            <li>
              <div class="text-center">
                <a>
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </li>

        <script>
          $(document).ready(function() {
            var loading =false;
            function loadNewContent(){
              $.ajax({
                url: '/get-info',
                type:'get',
                dataType: "text",
                data: {
                  user_id: <%= current_user.id %>,
                  number_info: $('input[type="hidden"]').val()
                },
                success:function(data){
                  if(data != ""){
                    setTimeout(function(){
                      var arr = JSON.parse(data);
                      loading = false;
                      $("#info").html(arr.content).fadeIn(5000);
                      $('input[type="hidden"]').val(arr.number_info);
                    },3000);
                  }
                }
              });
            }
            $('#info').on('scroll', function() {
                if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                    if(!loading){
                        loading = true;
                        // $('#loading').hide(5000);
                        loadNewContent();//call function to load content when scroll reachs DIV bottom
                    }
                }
            });

            $('#new-info').on('click', function(){
              $('#number-info').text('');
              $.ajax({
                url: '/info',
                type:'post',
                dataType: 'text',
                data: {
                  user_id: <%= current_user.id %>
                },
                success: function(data){
                  console.log(data);
                },
                error: function(error){
                  console.log(error);
                }
              });
            });
          });
        </script>
      </ul>
    </nav>
  </div>

</div>
<!-- /top navigation -->
<input type="hidden" value="<%= @infos.size %>">
