<!-- top navigation -->
<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= image_tag(current_user.avatar.url) %><%= current_user. first_name %> <%= current_user.last_name%>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <% if current_user.rules == 1 %>
              <li><%= link_to "Thông tin cá nhân", admin_path(current_user.id) %>
              </li>
              <li>
                <%= link_to "Đổi thông tin", edit_admin_path(current_user.id) %>
              </li>
              <li>
                <%= link_to "Cài đặt", edit_user_registration_path %>
              </li>
              <li>
                <a href="javascript:;">Hỗ trợ</a>
              </li>
            <% else %>
              <li><%= link_to "Thông tin cá nhân", department_user_path(current_user.departmentuser.id) %>
              </li>
              </li>
              <li>
                <%= link_to "Đổi thông tin", edit_department_user_path(current_user.id) %>
              </li>
              <li>
                <%= link_to "Cài đặt", edit_user_registration_path %>
              </li>
              <li>
                <a href="javascript:;">Hỗ trợ</a>
              </li>
            <% end %>
            <li><%= link_to "Đăng xuất", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>

        <li role="presentation" class="dropdown">
          <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green"><%= info() %></span>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            <li>
              <a>
                <span class="image"><%= image_tag "img.jpg" %></span>
                <span>
                  <span>John Smith</span>
                  <span class="time">3 mins ago</span>
                </span>
                <span class="message"><%=  %></span>
              </a>
            </li>

            <li>
              <div class="text-center">
                <a>
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>

</div>
<!-- /top navigation -->
