<h2><% provide(:title, "Phân công phản biện") %></h2>
 <div class="x_content" style="margin-top: 40px">

  <%= form_tag({controller: "admin/reviews", action: "update"}, method: "put", class: "form-horizontal form-label-left") do %>
    <input type="hidden" name="check" value="1">
    <div class="item form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên đề tài <span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-control col-md-7 col-xs-12">
          <p><%= @topic.name %></p>
        </div>
      </div>
    </div>

    <div class="item form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Mô tả <span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-control col-md-7 col-xs-12">
          <p><%= @topic.description %></p>
        </div>
      </div>
    </div>
    <div class="item form-group" style="text-align: center;">
        <p>Giáo viên phản biện</p>
    </div>

    <div class="item form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="department">Khoa: <span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select name="department_id" id="department" class="form-control col-md-7 col-xs-12" required="required">
          <option>- Chọn khoa - </option>
          <% @departments.each do |item| %>
            <option value="<%= item.id %>"><%= item.name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="item form-group" id="subject_col">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subject">Bộ môn: <span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select name="subject_id" id="subject" class="form-control col-md-7 col-xs-12" required="required">
        </select>
      </div>
    </div>

    <div class="item form-group" id="teacher_col">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="teacher">Giảng viên: <span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select name="teacher_id" id="teacher" class="form-control col-md-7 col-xs-12" required="required">
        </select>
      </div>
    </div>

    <div id ="teacher_same">
      <div class="item form-group" style="text-align: center;">
        <p>Giáo viên phản biện</p>
      </div>

      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="department_2">Khoa: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select name="department_id_2" id="department_2" class="form-control col-md-7 col-xs-12">
            <option>- Chọn khoa - </option>
            <% @departments.each do |item| %>
              <option value="<%= item.id %>"><%= item.name %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="item form-group" id="subject_col_2">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subject_2">Bộ môn: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select name="subject_id_2" id="subject_2" class="form-control col-md-7 col-xs-12">
          </select>
        </div>
      </div>

      <div class="item form-group" id="teacher_col_2">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="teacher_2">Giảng viên: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select name="teacher_id_2" id="teacher_2" class="form-control col-md-7 col-xs-12">
          </select>
        </div>
      </div>

    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
      <div class="col-md-6 col-md-offset-3">
          <button type="reset" class="btn btn-primary" name="reset">Làm lại</button>
        <button id="send" type="submit" class="btn btn-success">Phân công phản biện</button>
      </div>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function(){
    $('#department').change(function(){
      $.ajax({
        type:"get",
        url:"/admin/councils",
        dataType:"text",
        data: {department_id: $(this).val()},
        success: function(response){
          var arr = JSON.parse(response);
          var s = '';
          s += '<option> --Chọn bộ môn-- </option>';
          for(var i = 0; i< arr.length; i++){
            s += '<option value="' + arr[i].id + '">' + arr[i].name + '</option>';
          }
          $('#subject').html(s);
        },
      })
    });

  });

  $(document).ready(function(){
    $('#subject').change(function(){
      $.ajax({
        type:"get",
        url:"/admin/councils",
        dataType:"text",
        data: {subject_id: $(this).val()},
        success: function(response){
          var arr = JSON.parse(response);
          var s = '';
          for(var i = 0; i< arr.length; i++){
            s += '<option value="' + arr[i].id + '">' + arr[i].first_name + ' ' + arr[i].last_name + '</option>';
          }
          console.log(arr);
          $('#teacher').html(s);
        },
      })
    });
  });

  $(document).ready(function(){
    $('#department_2').change(function(){
      $.ajax({
        type:"get",
        url:"/admin/councils",
        dataType:"text",
        data: {department_id: $(this).val()},
        success: function(response){
          var arr = JSON.parse(response);
          var s = '';
          s += '<option> --Chọn bộ môn-- </option>';
          for(var i = 0; i< arr.length; i++){
            s += '<option value="' + arr[i].id + '">' + arr[i].name + '</option>';
          }
          $('#subject_2').html(s);
        },
      })
    });

  });

  $(document).ready(function(){
    $('#subject_2').change(function(){
      $.ajax({
        type:"get",
        url:"/admin/councils",
        dataType:"text",
        data: {subject_id: $(this).val()},
        success: function(response){
          var arr = JSON.parse(response);
          var s = '';
          for(var i = 0; i< arr.length; i++){
            s += '<option value="' + arr[i].id + '">' + arr[i].first_name + ' ' + arr[i].last_name + '</option>';
          }
          console.log(arr);
          $('#teacher_2').html(s);
        },
      })
    });
  });
</script>
