<% if @topics.blank? %>
  <p>Chưa có sinh viên nào</p>
<% else %>
  <div class="title_right" style="margin-top: 40px">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm theo mã sinh viên..." id="search2">
                <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Go!</button>
                      </span>
      </div>
    </div>
  </div>
  <div class="x_content">
    <div class="table-responsive">
      <table class="table table-striped jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">STT </th>
            <th class="column-title">Mã sinh viên </th>
            <th class="column-title">Họ </th>
            <th class="column-title">Tên </th>
            <th class="column-title">Tên đề tài </th>
            <th class="column-title no-link last"><span class="nobr">Kiểm tra hợp thức</span>
            </th>
            <th class="bulk-actions" colspan="7">
              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @topics.each_with_index do |item,index| %>
            <tr class="even pointer">
              <input type="hidden" class="flat" name="topic_id_array[]" value="<%= item.id %>">
              <td class=" "><%= index + 1 %></td>
              <td id="code"><a href=""> <%= item.student.user.code %></a></td>
              <td class=" "><a href=""> <%= item.student.user.first_name %></a></td>
              <td class=" "><a href=""> <%= item.student.user.last_name %></a></td>
              <td class=" "><a href=""> <%= item.name %></a></td>
              <td class=" ">
                <a href="javascript:void(0)" id="confirm-<%= item.id %>" class="btn btn-primary" target="_self">Tiếp nhận</a>
              </td>
            </tr>
            <script>
              $(document).ready(function(){
                $('#confirm-' + <%= item.id %>).click(function(){
                  $.ajax({
                    url: "/admin/files",
                    type: "get",
                    dataType: "text",
                    data: {
                      topic_id: $(this).parent().parent().find('input[type="hidden"]').val(),
                    },
                    success: function (response) {
                      $('#confirm-' + <%= item.id %>).attr("disabled", true);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                  });
                });
              });
            </script>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $("#search2").on("keyup", function() {
    var value = $(this).val();
    // console.log(value);

    $("tbody tr").each(function(index) {
        if (index != 0) {

            $row = $(this);
            var id = $row.find("#code").text();
            if(value == "")
              $row.show();
            else if (id.indexOf(value) > 0) {
              $row.show();
            }
            else {
                $row.hide();
            }
        }
    });
});
</script>
