<% if @topics.nil? %>
  <h1> Chưa có yêu cầu nào </h1>
<% else %>
<form method="POST" action="/topic_teachers" method="post" accept-charset="utf-8">
  <div class="x_content">
        <label class="col-xs-12">Chờ xử lý
        <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
    <thead>
      <tr class="headings">
        <th class="column-title">STT </th>
        <th class="column-title">Mã sinh viên </th>
        <th class="column-title">Họ Tên </th>
        <th class="column-title">Tên đề tài </th>
        <th class="column-title">Mô tả </th>
        <th class="column-title no-link last"><span class="nobr">Hành động</span>
        </th>
        <th class="bulk-actions" colspan="7">
          <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each_with_index do |item,index| %>
        <tr class="even pointer">
          <input type="hidden" class="flat" name="topic_id_array[]" value="<%= item.id %>">
          <td class=" "><%= index + 1 %></td>
          <td class=" "><%= @codes[index] %></td>
          <td class=" "><%= @students[index] %></td>
          <td class=" "><%= item.name %></td>
          <td class=" "><%= item.description %></td>
          <td class=" "><a href="javascript:void(0)" id="allow-fix-<%= item.id %>" class="btn btn-primary" target="_self">Cho phép rút</a></td>
        </tr>
        <script>
          $(document).ready(function(){
            $('#allow-fix-' + <%= item.id %>).click(function(){
              $.ajax({
                url: "/admin/edit_topics",
                type: "get",
                dataType: "text",
                data: {
                  topic_id: $(this).parent().parent().find('input[type="hidden"]').val(),
                },
                success: function (response) {
                  // if($('#deny-' + <%= item.id %>).is(':disabled')){
                  //   // $('#deny-' + <%= item.id %>).attr("disabled",false);
                  //   console.log('123');
                  // }
                  $('#allow-fix-' + <%= item.id %>).attr("disabled", true);
                  // console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
              });
            });
          });
        </script>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<% end %>
</form>
