<% if @topics.nil? %>
  <h1> Chưa có yêu cầu nào </h1>
<% else %>
<form method="POST" action="/topic_teachers" method="post" accept-charset="utf-8">
  <div class="x_content">
        <label class="col-xs-12">Chờ xử lý
        <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
    <thead>
      <tr class="headings">
        <th>
          <input type="checkbox" id="check-all" class="flat">
        </th>
        <th class="column-title">STT </th>
        <th class="column-title">Mã sinh viên </th>
        <th class="column-title">Họ Tên </th>
        <th class="column-title">Tên đề tài </th>
        <th class="column-title">Mô tả </th>
        <th class="column-title no-link last"><span class="nobr">Hành động</span>
        </th>
        <th class="bulk-actions" colspan="7">
          <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each_with_index do |item,index| %>
        <tr class="even pointer">
          <td class="a-center ">
            <input type="checkbox" class="flat" name="table_records">
          </td>
          <td class=" "><%= index + 1 %></td>
          <td class=" "><%= @codes[index] %></td>
          <td class=" "><%= @students[index] %></td>
          <td class=" "><%= item.name %></a></td>
          <td class=" "><%= item.description %></a></td>
          <td class=" "><%= index + 1 %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<% end %>
</form>
