<style type="text/css" media="screen">
  body {
  background-color: #ffffff;
  }
</style>
<%= render "layouts/menu_teacher" %>
<% if @topics.nil? %>
  <h1> Chưa có yêu cầu nào </h1>
<% else %>
<form method="POST" action="/topic_teachers" method="post" accept-charset="utf-8">
  <div class="x_content">
        <label class="col-xs-12">Chờ xử lý
        <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
    <thead>
      <tr class="headings">
        <th class="column-title">STT </th>
        <th class="column-title">Họ Tên </th>
        <th class="column-title">Tên đề tài cũ </th>
        <th class="column-title">Tên đề tài mới </th>
        <th class="column-title">Mô tả </th>
        <th class="column-title no-link last"><span class="nobr">Hành động</span>
        </th>
        <th class="bulk-actions" colspan="7">
          <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each_with_index do |item,index| %>
        <tr class="even pointer">
          <input type="hidden" class="flat" name="topic_id_array[]" value="<%= item.id %>">
          <td class=" "><%= index + 1 %></td>
          <td class=" "><%= @students[index] %></td>
          <td class=" "><%= item.name %></a></td>
          <td class=" "><%= item.new_name %></a></td>
          <td class=" "><%= item.description %></a></td>
          <td class=" ">
            <a href="javascript:void(0)" id="allow-fix-<%= item.id %>" <%= (item.status == 4) ? 'disabled' : '' %> class="btn btn-primary" target="_self">Cho phép sửa</a>
            <a href="javascript:void(0)" id="not-allow-fix-<%= item.id %>" <%= (item.status == 7) ? 'disabled' : '' %> class="btn btn-primary" target="_self">Không cho phép sửa</a>
          </td>
        </tr>
        <script>
          $(document).ready(function(){
            $('#allow-fix-' + <%= item.id %>).click(function(){
              $.ajax({
                url: "/topic_teachers/new",
                type: "get",
                dataType: "text",
                data: {
                  topic_id: $(this).parent().parent().find('input[type="hidden"]').val(),
                  allow_fix: true,
                  user_id: <%= current_user.id %>
                },
                success: function (response) {
                  $('#allow-fix-' + <%= item.id %>).attr("disabled", true);
                  // console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
              });
            });
            $('#not-allow-fix-' + <%= item.id %>).click(function(){
              $.ajax({
                url: "/topic_teachers/new",
                type: "get",
                dataType: "text",
                data: {
                  topic_id: $(this).parent().parent().find('input[type="hidden"]').val(),
                  not_allow_fix: true,
                  user_id: <%= current_user.id %>
                },
                success: function (response) {
                  $('#not-allow-fix-' + <%= item.id %>).attr("disabled", true);
                  // console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
              });
            });
          });
        </script>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<% end %>
</form>
