<div class="x_content">
  <% if current_user.rules < 3 %>
    <div style="margin-top: 15px; text-align: center;">
      <%= link_to "THÊM LĨNH VỰC MỚI", new_admin_sphere_path, class: "btn btn-primary" %>
    </div>
  <% elsif current_user.rules == 3 %>
    <%= render "layouts/menu_teacher" %>
  <% else %>
    <%= render "layouts/menu" %>
  <% end %>
  <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
      <thead>
        <tr class="headings">
          <th class="column-title">STT </th>
          <th class="column-title">Tên lĩnh vực </th>
          <th class="column-title">Mô tả </th>
          <% if current_user.rules < 3 %>
            <th class="column-title no-link last"><span class="nobr">Hành động</span>
            </th>
          <% end %>
          <th class="bulk-actions" colspan="7">
            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @list_tree_spheres.each_with_index do |item,index| %>
          <tr class="even pointer">
            <td class=" "><%= index + 1 %></td>
            <td class=" "><a href=""> <%= '---'*item.level %><%= item.name %></a></td>
            <td class=" "><%= item.description %></td>
            <% if current_user.rules < 3 %>
              <td class=" last">
                <%= link_to "Sửa", edit_admin_sphere_path(id: item.id) %>
                 |
                <%= link_to "Xóa", [:admin, item], method: :delete,
                  data: {confirm: t("comfirm")} %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  <% if current_user.rules > 2 %>
      $('body').css("background-color", "#ffffff");
      $('.nav_menu').css("margin-top", "-10px");
      $('.table').css("width", "90%");
      $('.table').css("margin-left", "5%");
  <% end %>
</script>
