<div class="clearfix"></div>
<div class="x_content">
  <div class="table-responsive">
      <table class="table table-striped jambo_table bulk_action">
          <thead>
              <tr class="headings">
                  <th>Khóa học</th>
                  <th>Phân loại</th>
                  <th>Mô tả</th>
                  <th class="column-title no-link last"><span class="nobr">Hành động</span>
                  </th>
                  <th class="bulk-actions" colspan="7">
                      <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                  </th>
              </tr>
          </thead>

          <tbody>
              <% @courses.each do |course| %>
                  <tr class="even pointer">

                      <td class=" "><span class="fa fa-dot-circle-o"></span> <%= course.name %></td>
                      <td>Khóa học</td>
                      <td class=" "><%#= course.description %></td>
                      <td class=" last">
                          <%= link_to "Sửa", edit_admin_course_path(id: course.id) %>
                          |
                         <%= link_to "Xóa", [:admin, course], method: :delete,
                        data: {confirm: t("comfirm")} %>
                      </td>
                  </tr>
                  <% course.trainings.each do |training|%>
                  <tr class="even pointer">

                        <td class=""><span style="margin-left:10px;" class="fa fa-arrow-right"></span> <%= training.name %></td>
                        <td>Chương trình đào tạo</td>
                        <td><%= training.description %></td>
                        <td class=" last">
                          <%= link_to "Sửa", edit_admin_training_path(id: training.id) %>
                          |
                         <%= link_to "Xóa", [:admin, training], method: :delete,
                        data: {confirm: t("comfirm")} %>
                      </td>
                  </tr>
                  <% end %>
              <% end %>
              <%= will_paginate %>
          </tbody>
      </table>
  </div>
</div>
