<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle" href="/"><i class="fa fa-home fa-3x header-home"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= image_tag current_user.avatar.url %><%= current_user.first_name %> <%= current_user.last_name %>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <% if current_user.rules == Settings.teacher_role %>
              <li><%= link_to "Thông tin cá nhân", teacher_path(current_user.id) %>
              </li>
              <li><%= link_to "Sửa thông tin", edit_teacher_path(current_user.id) %>
              </li>
            <% else %>
              <% if current_user.rules == Settings.student_role %>
                <li><%= link_to "Thông tin cá nhân", student_path(current_user.id) %>
                </li>
                <li><%= link_to "Sửa thông tin", edit_student_path(current_user.id) %>
                </li>
              <% end %>
            <% end %>
            <li><%= link_to "Đổi mật khẩu",  edit_user_registration_path %></li>
            <li>
              <a href="javascript:;">
                <span class="badge bg-red pull-right">50%</span>
                <span>Cài đặt</span>
              </a>
            </li>
            <li><%= link_to "Đăng xuất", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

</div>
