<style>
</style>
<div class="top_nav">
  <div id="show">
    <div class="show-background"></div>
    <div class="content">
    </div>
  </div>
  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle" href="/"><i class="fa fa-home fa-3x header-home"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= image_tag current_user.avatar.url %><%= current_user.first_name %> <%= current_user.last_name %>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <% if current_user.rules == Settings.teacher_role %>
              <li><%= link_to "Thông tin cá nhân", teacher_path(current_user.id) %>
              </li>
              <li><%= link_to "Sửa thông tin", edit_teacher_path(current_user.id) %>
              </li>
            <% else %>
              <% if current_user.rules == Settings.student_role %>
                <li><%= link_to "Thông tin cá nhân", student_path(current_user.id) %>
                </li>
                <li><%= link_to "Sửa thông tin", edit_student_path(current_user.id) %>
                </li>
              <% end %>
            <% end %>
            <li><%= link_to "Đổi mật khẩu",  edit_user_registration_path %></li>
            <li><%= link_to "Đăng xuất", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>

        <li role="presentation" class="dropdown" id="new-info">
          <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green" id="number-info"><%#= (@number_new_info > 0) ? @number_new_info : '' %></span>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            <div id="info" style="max-height: 250px; overflow: auto" class="scroll">
              <%# @infos.each do |info| %>
                <li>
                  <a>
                    <span class="image"><%#= image_tag "img.jpg" %></span>
                    <span>
                      <span><%#= get_user_send_name(info.user_send) %></span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message"><%#= info.content %></span>
                  </a>
                </li>
              <%# end %>
              <div id="loading-content"></div>
              <li id="loading" style="background: #fff; text-align: center; padding: 6px;">
                <img src="/loading.gif" alt="Loading…"  style="height: 100%; width:auto; overflow: hidden" />
              </li>
            </div>
            <li>
              <div class="text-center">
                <a>
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

</div>
<script>
  // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher_1 = new Pusher('0cd553fd86ef88eb6352', {
      encrypted: true
    });

    <% if current_user.rules == 4 %>
    var notificationsChannel = pusher_1.subscribe('notifications-of-student-');

    notificationsChannel.bind('new_notification', function(notification){
        var message = notification.message;
        if(notification){
          topic_notification(message);
        }
    });

    function topic_notification(msg) {
      setTimeout(function() {
        // $('span').show();
        if($('#number-info').text() != ''){
          var x = parseInt($('#number-info').text());
          $('#number-info').text(x + 1);
        }else {
          $('#number-info').text('1');
        }
      }, 2000);
    }
    <% end %>

</script>
