<!DOCTYPE html>
<html>
<head>
  <title>ThesisMgr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="nav-md">
<% if user_signed_in? && (current_user.rules == Settings.department_role || current_user.rules == Settings.admin_role) %>
  <div class="container body">
  <% flash.each do |key, value| %>
      <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= render "admin/layouts/partials/sidenav" %>
  <%= render "admin/layouts/partials/topnav" %>

  <%= render "admin/layouts/plainpage/index" %>
  <%= render "admin/layouts/partials/footer" %>
  <%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>
</div>
<% else %>
<%= render "layouts/header" %>
  <%= yield %>
<% end %>

</body>
</html>

